.marker {
  /* background-color: black; */
  /* fill: black; */
  fill-opacity: 0;
  stroke: #0000ff;
  stroke-opacity: 0.8;
  stroke-width: 2;
}
.label {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.labelPrice {
  background-color: #fc4053;
  width: 36px;
  height: 15px;
  margin: 1px;
  color: #fffefe;
  font-size: 11px;
  text-align: center;
  font-family: 'Open Sans', Gotham, gotham, Tahoma, Geneva, sans-serif;
  box-shadow: 0 1px #ccc;
  border-radius: 3px;
}

.labelPriceHover {
  background-color: #00c853;
  width: 36px;
  height: 15px;
  margin: 1px;
  color: #fffefe;
  font-size: 11px;
  text-align: center;
  font-family: 'Open Sans', Gotham, gotham, Tahoma, Geneva, sans-serif;
  box-shadow: 0 1px #ccc;
  border-radius: 3px;
}
.circle {
  background-color: #fc4053;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  border: 2px solid #fffefe;
  z-index: 100;
  box-shadow: 1px 1px #ccc;
}
.circleHover {
  background-color: #00c853;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  border: 2px solid #fffefe;
  z-index: 100;
  box-shadow: 1px 1px #ccc;
}
.infoBoxContainer {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
}
.price {
  font-weight: bold;
}

.textContainer {
  margin-left: 5px;
}
.containerMid {
  display: flex;
}
